@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

 body {
    font-family: Arial, sans-serif;
    background-color: #3D3433;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #E3DAD8;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.container h1 {
    font-family: pacifico;
    color: #784E2D;
}

input {
    padding: 8px;
    margin: 10px 0;
    width: 200px;
}

button{
    padding: 8px 15px; 
    border-radius: 10px;
    background-color: #784E2D;
    color: white;
    cursor: pointer;
}

#listaSabores {
    margin-top: 20px;
    text-align: center;
}

#listaSabores p {
    background-color: #f5f0ee;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px 0;
    color: #3D3433;
}